---
import Layout from "../../../../layouts/Layout.astro";
import Input from "../../../../components/Input.astro";
import Button from "../../../../components/Button.astro";
import { supabase } from "../../../../lib/supabase";

const { endpoint_id, response_id } = Astro.params;

let { data: [response], error } = await supabase
  .from('responses')
  .select('*')
  .eq('id', response_id)
---


<Layout title="Edit Response">
  <div class="p-4">
    <h1>Edit response</h1>
    <p><a href={`/responses/${endpoint_id}`}>Go back</a></p>
    <form action="/api/project/new" method="post" class="flex flex-col gap-2">
      <label for="body">Body</label>
      <Input type="text" name="body" value={JSON.stringify(response.body)} />
      <label for="head">Head</label>
      <Input type="text" name="head" value={JSON.stringify(response.head)} />
      <label for="code">Code</label>
      <Input type="text" name="code" value={response.code} />
      <Button type="submit">
        Edit
      </Button>
    </form>
  </div>
  </Layout>