---
import Layout from "../../../layouts/Layout.astro";
import Input from "../../../components/Input.astro";
import Button from "../../../components/Button.astro";
import { supabase } from "../../../lib/supabase";
import Link from "../../../components/Link.astro";
import { Icon } from "astro-icon/components";

const { project_id } = Astro.params;

let { data: [project] } = await supabase
  .from('projects')
  .select("*")
  .eq('id', project_id)
---

<Layout title="Edit Project">
  <div class="p-4">
    <Link href={`/endpoints/${project_id}`} type="secundary">
      <Icon size={24} name="mdi:chevron-left-circle-outline" />
      Go back
    </Link>
    <h1 class="text-xl font-bold my-4">Edit Project</h1>
    <form action="/api/projects/edit" method="post" class="flex flex-col gap-2">
      <label for="name">Name</label>
      <Input type="text" name="name" value={project.name} />
      <label for="base_url">Path base</label>
      <Input type="text" name="base_url" value={project.base_url} />
      <input type="hidden" name="id" value={project_id} />
      <Button type="submit">
        Edit
      </Button>
    </form>
  </div>
  </Layout>