---
import Layout from "../../../../layouts/Layout.astro";
import Input from "../../../../components/Input.astro";
import Button from "../../../../components/Button.astro";
import Select from "../../../../components/Select.astro";
import { supabase } from "../../../../lib/supabase";

const { endpoint_id } = Astro.params;

let { data: [endpoint] } = await supabase
  .from('endpoints')
  .select("*")
  .eq('id', endpoint_id)

---

<Layout title="Edit endpoint">
  <div class="p-4">
    <h1>Edit endpoint</h1>
    <p><a href={`/responses/${endpoint_id}`}>Go back</a></p>
    <form action="/api/endpoints/edit" method="post" class="flex flex-col gap-2">
      <label for="path">Path</label>
      <Input type="text" name="path" value={endpoint.path} />
      <label for="method">Method</label>
      <Select
        name="method" 
        value={endpoint.method}
        items={[
          {value: "post", label: "Post"},
          {value: "get", label: "Get"},
          {value: "put", label: "Put"},
          {value: "patch", label: "Patch"},
          {value: "delete", label: "Delete"}
        ]}
      />
      <input type="hidden" name="id" value={endpoint_id} />
      <Button type="submit">
        Edit
      </Button>
    </form>
  </div>
  </Layout>