---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import { supabase } from "../../lib/supabase";
import { Icon } from "astro-icon/components";
import Stepper from "../../components/Stepper.astro";
import Button from "../../components/Button.astro";

let { data: projects } = await supabase.from("projects").select("*");
---

<Layout title="Projects"
    ><div class="flex min-h-screen p-8 gap-8">
        <nav class="bg-zinc-800 rounded-md p-4 flex flex-col justify-between">
            <p class="font-bold text-sm text-center">Mock your API</p>
            <Stepper
                links={[
                    { name: "Project", href: null },
                    { name: "Endpoint", href: null },
                    { name: "Responses", href: null },
                ]}
                selected={0}
            />

            <form action="/api/auth/signout">
                <Button color="secundary" type="submit">Signout</Button>
            </form>
        </nav>

        <div class="grow">
            <h1 class="text-xl font-bold">Step 1: Choice a project</h1>
            <div class="flex flex-col lg:flex-row gap-2 grow flex-wrap py-4">
                {
                    projects.map((item) => (
                        <a
                            class="bg-blue-500 rounded-md px-4 py-4 lg:basis-48 flex justify-between items-center cursor-pointer"
                            href={`/endpoints/${item.id}`}
                        >
                            {item.name}
                            <Icon name="mdi:chevron-right" />
                        </a>
                    ))
                }
            </div>
            <Link type="primary" href="/projects/new">Add new project</Link>
        </div>
    </div>
</Layout>
