---
import Layout from "../../layouts/Layout.astro";
import Input from "../../components/Input.astro";
import Button from "../../components/Button.astro";
---

<Layout title="New project">
  <div class="p-4">
    <h1>Add new project</h1>
    <p><a href="/projects">Go back</a></p>
    <form action="/api/project/new" method="post" class="flex flex-col gap-2">
      <label for="name">Name</label>
      <Input type="text" name="name" />
      <label for="base_url">Path base</label>
      <Input type="text" name="base_url" />
      <Button type="submit">
        Add
      </Button>
    </form>
  </div>
  </Layout>