---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import background from '../assets/background.jpg';
import robotCamera from '../assets/robot-camera.png';
import robotSitting from '../assets/robot-sitting.png';
import Link from '../components/Link.astro';
---
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fake API</title>
	<link rel="icon" href="robot-sitting.png" type="image/x-icon">
</head>

<body>

	<section class="parallax">
		<div id="background">
			<img src={background.src}>
		</div>

		<div id="robot-sitting">
			<img src={robotSitting.src}>
		</div>

		<div id="robot-camera-left">
			<img src={robotCamera.src}>
		</div>

		<h2 id="text"> Fake API </h2>

		<div id="robot-camera-right">
			<img src={robotCamera.src}>
		</div>

	</section>

	<section class="sec bg-zinc-900">
		<h2> Fake API </h2>
		<p>This is a tool for developers that allows them to mock their APIs. Join us!</p>
		<br>
		<div class="flex gap-4">
			<Link href="/register">Create account</Link>
			<Link href="/signin">Login</Link>
		  </div>
		  <br>
		<p>By: Malaver Brothers (Jeisson, Marcela and Yessica)</p>
		<p>Images from  Freepik Company S.L.</p>
	</section>

	<script>
		let text = document.getElementById('text');
let robotCameraRight = document.getElementById('robot-camera-right');
let robotSitting = document.getElementById('robot-sitting');
let robotCameraLeft = document.getElementById('robot-camera-left');

window.addEventListener('scroll', ()=> {
    let value = window.scrollY

    text.style.marginTop = value * 2.7 + 'px';
    robotCameraRight.style.top = value * -1.5 + 'px';
    robotCameraRight.style.left = value * 1.5 + 'px';
    robotCameraLeft.style.left = value * -1.5 + 'px';
    robotSitting.style.top = value * 1 + 'px';
})

document.getElementById('register').addEventListener('click', () => {
    alert('Button register clicked!');
  });
  
  document.getElementById('login').addEventListener('click', () => {
    alert('Button login clicked!');
  });
	</script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

#background img {
    width: 100%;
    height: 100vh;
}

#robot-camera-right {
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#robot-sitting {
    padding-top:225px;
    left:10%;
    position: relative;
}
#robot-sitting img{
    object-fit: fill;
    width: 27%;
    height: auto;    
    position: absolute;
    left: 0;
    bottom: 0;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.sec {
    position: relative;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

  
  button {
    padding: 10px 20px;
    background-color: white;
    color: #3c148e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
  }
  
  button:hover {
    background-color: #8978a9;
  }
	</style>
</body>

</html>