---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
let { data: projects, error } = await supabase
  .from('projects')
  .select('*')

  console.log(projects)
  let showAddProject = false;
---

<Layout title="Projects">
Projects
{projects.map(item=> <div>
    Nombre: {item.name}
    URL Base: {item.base_url}
    </div>)}

    <button id="add-project">Add</button>
</Layout>

<script>
    // Find all buttons with the `alert` class on the page.
    const addProjectButton = document.getElementById('add-project');
  
    // Handle clicks on each button.
    addProjectButton.addEventListener('click', () => {
        alert('Button was clicked!');
    });
  </script>