---
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Register">
  <h1 class="text-xl font-bold my-4">Register</h1>
  <form action="/api/auth/register" method="post" class="flex flex-col gap-2">
    <label for="email">Email</label>
    <Input type="email" name="email" />
    <label for="password">Password</label>
    <Input type="password" name="password" />
    <div class="flex gap-4">
      <Button type="submit">
        Register
      </Button>
      <Link href="/signin" type="secundary">Go to Login</Link>
    </div>
  </form>
</Layout>