---
import Layout from "../../../layouts/Layout.astro";
import Input from "../../../components/Input.astro";
import Button from "../../../components/Button.astro";
import Select from "../../../components/Select.astro";
import Link from "../../../components/Link.astro";
import { Icon } from "astro-icon/components";
const { endpoint_id } = Astro.params;
---

<Layout title="New Response">
  <div class="p-4">
    <Link href={`/responses/${endpoint_id}`} type="secundary">
      <Icon size={24} name="mdi:chevron-left-circle-outline" />
      Go back
    </Link>
    <h1 class="text-xl font-bold my-4">Add Response</h1>
    <form action="/api/responses/new" method="post" class="flex flex-col gap-2">
      <label for="body">Body</label>
      <Input type="text" name="body" />
      <label for="head">Head</label>
      <Input type="text" name="head" />
      <label for="code">Code</label>
      <Select name="code" items={[
        {value: "200", label: "200 Ok"},
        {value: "201", label: "201 Created"},
        {value: "202", label: "202 Accepted"},
        {value: "204", label: "204 No Content"},
        {value: "301", label: "301 Moved Permanently"},
        {value: "302", label: "302 Found"},
        {value: "303", label: "303 See Other"},
        {value: "304", label: "304 Not Modified"},
        {value: "307", label: "307 Temporary Redirect"},
        {value: "400", label: "400 Bad Request"},
        {value: "401", label: "401 Unauthorized"},
        {value: "403", label: "403 Forbidden"},
        {value: "404", label: "404 Not Found"},
        {value: "405", label: "405 Method Not Allowed"},
        {value: "406", label: "406 Not Acceptable"},
        {value: "412", label: "412 Precondition Failed"},
        {value: "415", label: "415 Unsupported Media Type"},
        {value: "500", label: "500 Internal Server Error"},
        {value: "501", label: "501 Not Implemented"}
      ]} />
      <input type="hidden" value={endpoint_id} name="endpoint" />
      <Button type="submit">
        Add
      </Button>
    </form>
  </div>
  </Layout>