---
import Layout from "../../../layouts/Layout.astro";
import Input from "../../../components/Input.astro";
import Button from "../../../components/Button.astro";
const { endpoint_id } = Astro.params;
---

<Layout title="New Response">
  <div class="p-4">
    <h1>Add new response</h1>
    <p><a href={`/responses/${endpoint_id}`}>Go back</a></p>
    <form action="/api/responses/new" method="post" class="flex flex-col gap-2">
      <label for="body">Body</label>
      <Input type="text" name="body" />
      <label for="head">Head</label>
      <Input type="text" name="head" />
      <label for="code">Code</label>
      <Input type="text" name="code" />
      <input type="hidden" value={endpoint_id} name="endpoint" />
      <Button type="submit">
        Add
      </Button>
    </form>
  </div>
  </Layout>