---
import Layout from "../../../layouts/Layout.astro";
import Input from "../../../components/Input.astro";
import Select from "../../../components/Select.astro";
import Button from "../../../components/Button.astro";
const { project_id } = Astro.params;
---

<Layout title="New Endpoint">
  <div class="p-4">
    <h1>Add new endpoint</h1>
    <p><a href={`/endpoints/${project_id}`}>Go back</a></p>
    <form action="/api/endpoints/new" method="post" class="flex flex-col gap-2">
      <label for="path">Path</label>
      <Input type="text" name="path" />
      <label for="method">Method</label>
      <Select
        name="method" 
        items={[
          {value: "post", label: "Post"},
          {value: "get", label: "Get"},
          {value: "put", label: "Put"},
          {value: "patch", label: "Patch"},
          {value: "delete", label: "Delete"}
        ]}
      />
      <input type="hidden" value={project_id} name="project" />
      <Button type="submit">
        Add
      </Button>
    </form>
  </div>
  </Layout>